* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

body {
   background:#c9d6df;
   height: 100vh;

}

header {
  position: sticky;
  height: 5rem;
  background: #52616b;
  max-width:100%;
  top:0;
  z-index: 69;
}

.head-title {
  font-family: 'Rock Salt', cursive;
  font-weight: bolder;
  color: #f0f5f9;
  text-shadow: 5px 5px 5px #52616b;
  line-height: 1.6;
  letter-spacing: 2.5px;

}
.home-title {
   font-family: 'Rock Salt', cursive;
  font-weight: bolder;
  color: #f0f5f9;
  line-height: 1.6;
  letter-spacing: 2.5px;
  position: fixed;
  top:20%;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.home-btn {
  position: fixed;
  top:40%;
}

.fa-snowboarding,.fa-newspaper, .fa-bell {
  /* color: #f0f5f9; */
  font-size: 40px;
  color: black;
}
/* .fa-bell {
  color: red;
  font-size: 40px;

} */

h2 {
  font-family: 'Roboto', sans-serif;
}

.profile-pic {
  height: 150px;
  max-width: 150px;
  border-radius: 50%;
  background-size: cover;
}


.create-form, .add-event, .event-detail, .resort-detail, .host, .profile-page, .notification {
  background:#c9d6df;
  height: 100vh;
  width: 100%;
   font-family: 'Roboto', sans-serif;
   position: fixed;

}

.resort-img {
  padding-top: 10px;
}
@media only screen and (min-width: 730px) {
  .resort-img {
   padding-top: 100px;

  }
}

@media only screen and (max-width: 375px) {
  .resort-img img {
   max-height:200px;
  }
}


.login {
  background:  #52616b;
  height: 100vh;
  width: 100%;
  position: fixed;
}
.main-page {
   background:#c9d6df;
  height:100vh;
  width: 100%;
   font-family: 'Roboto', sans-serif;
   overflow: scroll;


}


.resort-list-item-card {
  background: #f0f5f9;
  box-shadow: 5px 10px;
}



.btn-detail, .btn-eventdetail{
  background-color: #52616b;
  color: #f0f5f9;
  border-radius: 16px;
  width: 250px;
  height: 40px;
   font-family: 'Roboto', sans-serif;

}

.img-detail{
  height: 250px;
  width: 250px;
}




.img-list{
  height: 75px;
  width: 70px;
}

.p-resortList{
font-size: 15px;
}



.event-img {
  filter: brightness(50%);
  box-shadow: 5px 10px;
  object-fit: cover;
  top: 20;
  width: 100%;
}

.add-event {
  font-family: 'Roboto', sans-serif;
}

.start-input, .end-input {
  width:155px;
}


.homepage-container{

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url(images/shred-buds.jpg) no-repeat center ;
  background-size: cover;
  position: fixed;



}


.container{
 margin-top: 0;
}

.imgEventDetails{
  height: 300px;
  width: 340px;

}
.host-img {
height: 250px;
width:350px;

}

/* .header-icon{
  -webkit-text-stroke: 1px #52616b;
} */

/* .btn-eventdetail{
  background-color: #52616b;
  color: #f0f5f9;
  border-radius: 10px;
  width: 150px;
  height: 30px;
   font-family: 'Roboto', sans-serif;
} */


.detail-title {
  font-size: 30px;
}

.boarder {
  font-size: 20px;
  color: #212529;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 12;
  width: 100%;

}
.nav {
  font-family: 'Roboto', sans-serif;
  background: #52616b;
   justify-content: space-around;
   height: 60px;
   align-items: center;


}
.nav-events {
    border-top:  solid white;
    position: fixed;
    z-index:12;
    width: 100%;
    background-color: #3d474e

}

.nav-icon {
 color: #f0f5f9;
}
.event-card {
  overflow-y: auto;
 padding-top: 60px;
 padding-bottom: 60px;
}

.pic-box, .name-box, .extra-box {
  bottom: 10%;
}

@media only screen and (min-width: 768px) {
  .pic-box, .name-box, .extra-box {
  bottom: 5%;
}
}

@media only screen and (min-width: 768px) {
  .about, .skill, .description {
    font-size: 30px;
  }
}
.content-container {
  height: 80vh;
 background-color: #f0f5f9;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  bottom:0;
}
.description {
  color: grey;
}

.resort-list-img {
  height:280px;
}

.resort-card {
  width: 350px;

}

.resort-list-page {
  margin-bottom: 300px;
  overflow: hidden;
  padding-bottom: 55px;
}
