header {
  height: 5rem;
  background: #9EC5AB;
}

.head-title {
  font-family: 'Rock Salt', cursive;
  font-weight: bolder;
  color: #1b4332;
}


.fa-snowboarding {
  color: #1b4332;
  font-size: 40px;
}
.fa-bell {
  color: red;
  font-size: 40px;

}

h2 {
  font-family: 'Roboto', sans-serif;
}

.profile-pic {
  max-width: 180px;
}

.create-header {
  font-family: 'Rock Salt', cursive;
   color: #1b4332;
   font-size: 40px;
}

.create-form {
  background: lightgray;
  height: 1000px;
   font-family: 'Roboto', sans-serif;
}

.btn-detail{
  background-color: #1B4332;
  color: white;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  

}
